/* ===========================

   Google Font

=========================== */

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600&display=swap');

*{

    margin:0;

    padding:0;

    box-sizing:border-box;

    scroll-behavior:smooth;

    font-family:'Fredoka',sans-serif;

}

body{

    overflow-x:hidden;

    color:#4f3c73;

    background:linear-gradient(-45deg,

    #f7e8ff,

    #ead7ff,

    #d9c2ff,

    #cab8ff,

    #efe6ff);

    background-size:400% 400%;

    animation:gradient 15s ease infinite;

}

@keyframes gradient{

0%{background-position:0% 50%;}

50%{background-position:100% 50%;}

100%{background-position:0% 50%;}

}

/* ===========================

Navbar

=========================== */

header{

position:fixed;

top:0;

left:0;

width:100%;

z-index:999;

}

nav{

width:90%;

margin:20px auto;

padding:15px 35px;

display:flex;

justify-content:space-between;

align-items:center;

background:rgba(255,255,255,.25);

backdrop-filter:blur(18px);

border-radius:50px;

box-shadow:0 8px 30px rgba(0,0,0,.1);

}

.logo{

font-size:28px;

font-weight:600;

color:#8d5cff;

}

nav ul{

display:flex;

gap:30px;

list-style:none;

}

nav a{

text-decoration:none;

color:#6a5a88;

font-weight:500;

transition:.3s;

}

nav a:hover,

nav a.active{

color:#8d5cff;

}

/* ===========================

Hero

=========================== */

.hero{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

position:relative;

overflow:hidden;

}

.hero-card{

width:430px;

padding:45px;

text-align:center;

border-radius:35px;

background:rgba(255,255,255,.25);

backdrop-filter:blur(20px);

box-shadow:0 10px 40px rgba(0,0,0,.12);

animation:float 4s ease-in-out infinite;

}

@keyframes float{

0%,100%{

transform:translateY(0);

}

50%{

transform:translateY(-15px);

}

}

.profile{

width:180px;

height:180px;

border-radius:50%;

border:6px solid white;

object-fit:cover;

margin-bottom:20px;

transition:.4s;

}

.profile:hover{

transform:scale(1.08);

}

.hero h1{

font-size:36px;

color:#7d4dff;

margin-bottom:10px;

}

.hero h2{

height:30px;

margin-bottom:20px;

color:#6f6f6f;

}

.hero p{

margin-bottom:30px;

line-height:1.8;

}

.btn{

display:inline-block;

padding:15px 40px;

border-radius:50px;

background:#9d7dff;

color:white;

text-decoration:none;

transition:.3s;

}

.btn:hover{

transform:translateY(-5px);

background:#845ef7;

}
