body{
    margin:0;
    font-family:'Poppins',sans-serif;
    background:linear-gradient(135deg,#ffd6ec,#cdb4db,#a2d2ff);
    background-size:400% 400%;
    animation:bgMove 12s infinite;
}

@keyframes bgMove{
0%{background-position:0%}
50%{background-position:100%}
100%{background-position:0%}
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.hero-card{
padding:50px;
border-radius:30px;
backdrop-filter:blur(15px);
background:rgba(255,255,255,.25);
box-shadow:0 8px 30px rgba(0,0,0,.15);
animation:float 3s infinite ease-in-out;
}

@keyframes float{
0%,100%{transform:translateY(0);}
50%{transform:translateY(-12px);}
}

.profile{
width:180px;
height:180px;
border-radius:50%;
object-fit:cover;
border:6px solid white;
}

.btn{
padding:15px 35px;
border-radius:50px;
background:white;
text-decoration:none;
transition:.3s;
}

.btn:hover{
transform:scale(1.1);
}




